.cartLay {
  display: flex;

  width: 100%;
  justify-content: center;

  gap: 70px;
}

.CartLeft {
  width: 50%; /* Set width to 70% */
  max-width: 800px;
  padding-top: 30px;
  padding-left: 20px;
}

.cartHeader {
  display: flex;

  gap: 55px;
  padding-left: 100px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  color: rgba(107, 170, 169, 1);
  font-family: nus-medium;
}

.cartItem {
  display: flex;
  align-items: center;
  max-width: 600px;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  gap: 10px;
}
.ItemContent {
  width: 50%;
  display: flex;
  align-items: center;
}
.cartImage {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
}
.productName {
  width: auto;
  font-size: 16px;
  color: rgba(107, 170, 169, 1);
  font-family: mt-medium;
}
.totalPrice {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid rgba(209, 209, 209, 0.5);
  border-radius: 20px;
}
.totalPrice p {
  height: 0;
  min-width: 30px;
  padding: 10px 20px;
  font-family: nus-regular;
  color: rgba(107, 170, 169, 1);
  font-size: 16px;
}

.removeBtn {
  background: none;
  border: none;
  color: rgba(107, 170, 169, 1);
  cursor: pointer;
}
@media only screen and (max-width: 998px) {
  .cartLay {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .CartLeft {
    width: auto;
    padding-left: 0;
  }
  /* .CartRight {
    width: 100%;
  } */
}
@media only screen and (max-width: 576px) {
  .totalPrice {
    width: 90%;
  }
  .ItemContent {
    display: block !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100% !important;
  }
}

@media only screen and (max-width: 416px) {
  .cartLay {
    align-items: start;
  }
}
