* {
  box-sizing: border-box;
}
.row > * {
  width: 50% !important ;
}

.homeStyle {
  display: flex;
  width: 100%;
}
.content {
  display: flex;
  align-items: start;
  padding: 100px 0 0 0;
  flex-direction: column;

  width: 100%;
}
.content h1 {
  color: rgba(124, 124, 124, 1);
  font-size: 38px;
  font-family: mt-bold;
}
.child2 {
  color: rgba(107, 170, 169, 1);
  font-size: 28px;
}

.child1 {
  color: rgba(124, 124, 124, 1);
  font-size: 28px;
}
.content p {
  color: rgba(128, 128, 128, 1);
  font-family: nus-regular;
  padding-top: 10px;
}
.buttonMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.buttonMenu button {
  padding: 12px 35px 12px 35px;
  background-color: rgba(107, 170, 169, 1);
  border: none;
  border-radius: 5px;

  color: rgba(255, 255, 255, 1);
  font-family: mt-medium;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;

  cursor: pointer;
}
.firstHalf {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40% !important;
}

.secondHalf {
  display: flex;
  position: relative;
  width: 60% !important;
  padding-left: 60px;
}
.styledBackground {
  display: flex;
  justify-content: end;
}

.styledBox {
  background-color: rgba(107, 170, 169, 1);
  padding: 120px 30px 100px 250px;
  border-radius: 0 0 0 40%;
  position: absolute;
  z-index: -1;
}

.styledBox img {
  width: 200px;
  height: 300px;
}
@media only screen and (min-width: 1200px) {
  .secondHalf {
    padding-left: 100px;
  }
}

@media only screen and (max-width: 1200px) {
  .styledBox {
    display: none;
  }
  .firstHalf img {
    z-index: 100;
  }
}

@media only screen and (max-width: 996px) {
  .child1 {
    font-size: 26px;
  }
  .styledBox {
    padding: 57px 80px 10px 0;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  .content {
    width: 90%;
  }
  .content p {
    width: 100%;
  }

  .firstHalf {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .secondHalf {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .row > * {
    width: 100% !important ;
  }
  .firstHalf img {
    position: absolute;
    top: 100px;
    z-index: -10;
  }
}

@media only screen and (max-width: 767px) {
  /* .mainDiv{
        background-color: rgba(248, 201, 0, 1);
    } */
  /* .firstHalf{
        width: 100%;
     } */
  .content p {
    width: 100%;
  }
  .child1 {
    font-size: 24px;
  }
  /* .mainDiv{
         background-color:rgba(107, 170, 169, 1);
    } */
}

@media only screen and (max-width: 425px) {
  .firstHalf img {
    left: -65px;
  }
}
