.BasketContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: end;
  justify-content: end;
  z-index: 1000;
}

.BasketContents {
  width: 350px;
  max-width: 400px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100%;
  z-index: 1000;
}
.baskerHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(209, 209, 209, 0.5);
  padding: 0 0 20px 5px;
}

.baskerHeader h2 {
  font-size: 28px;
  height: 0;
  font-family: mt-bold;
  color: rgba(128, 128, 128, 1);
}
.baskerHeader button {
  border: none;
  outline: none;
  background-color: white;
  height: auto;
  margin-right: 10px;
}

.orderImage {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgba(209, 209, 209, 0.5);
}
.orderImage img {
  width: 70px;
  height: 65px;
  border-radius: 5px;
}
.orderText {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.orderText p {
  margin: 0;

  font-family: mt-medium;
  font-size: 16px;
  color: grey;
}

.orderText span {
  font-family: mt-bold;
  font-size: 16px;
  color: rgba(136, 136, 136, 0.515);
}
.product {
  overflow: hidden;
  overflow-y: auto;
}
.cartButton {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px 10px;
}
.goToCart {
  width: 80%;
  padding: 8px 0;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgba(118, 154, 153, 1);
  color: white;
  font-family: mt-bold;
  cursor: pointer;
}
.product::-webkit-scrollbar {
  width: 8px;
}

.product::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.product::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.product::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 1);
  cursor: pointer;
}
