.contactForm {
  display: flex;
  box-shadow: -10px 30px 50px rgba(209, 209, 209, 0.3);
  border-radius: 10px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding: 0 50px 70px 50px;
  gap: 20px;
}
input:-webkit-autofill {
  -webkit-text-fill-color: grey !important;
  font-family: num-regular !important;
}
.phone,
.name,
.text {
  width: 100%;
  gap: 20px;
}
.phone input,
.name input {
  background-color: #91b9b854;
  height: 45px;
  width: 250px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: grey;
  font-family: num-regular;
  font-size: 16px;
  padding-left: 5px;
}
/* .text {
    width: 100%;
  } */
.text textarea {
  background-color: #91b9b854;
  border: none;
  outline: none;
  border-radius: 5px;
  resize: none;
  width: 100%;
  color: grey;
  font-family: num-regular;
  font-size: 16px;
  padding: 10px;
}
label {
  color: #6baaa9;
  font-family: mt-medium;
  padding: 10px;
}

form button {
  background-color: #6baaa9;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  color: #ffff;
  font-family: mt-bold;
  border-radius: 5px;
}
@media only screen and (max-width: 992px) {
  .contactForm {
    box-shadow: none;
  }
  .contactlayout {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .phone input,
  .name input {
    background-color: #91b9b854;
    height: 45px;
    width: 200px;
  }
}

@media only screen and (max-width: 576px) {
  .phone input,
  .name input {
    background-color: #91b9b854;
    height: 45px;
    width: 155px;
  }
  form {
    padding: 0;
    gap: 10px;
  }
  .phone,
  .name {
    display: flex;
    justify-content: center;
  }

  .phone,
  .name,
  .text {
    gap: 5px;
  }
  .contactContent span {
    font-size: 20px;
  }
}
.error {
  font-family: mt-bold;
  color: tomato;
}
