* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: nus-regular;
  src: url("../src/assets/fonts/liberty-nus-regular-webfont.ttf");
}
@font-face {
  font-family: mt-medium;
  src: url("../src/assets/fonts/liberty-mt-medium-webfont.ttf");
}
@font-face {
  font-family: nus-medium;
  src: url("../src/assets/fonts/liberty-nus-medium-webfont.ttf");
}
@font-face {
  font-family: mt-bold;
  src: url("../src/assets/fonts/liberty-mt-bold-webfont.ttf");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
