.Menu {
  display: flex;
}
.menuleftSide {
  display: flex;
  flex-direction: column;
}
.menuButtons button {
  border: 1px solid rgba(209, 209, 209, 0.5);
  outline: none;
  padding: 10px;
  border-radius: 5px;

  color: rgba(102, 102, 102, 1);
  font-family: mt-medium;
  background-color: #fff;
}
.menuButtons button:active {
  background-color: rgba(118, 154, 153, 1);
  color: white;
}
.menuButtons {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-top: 30px;
  gap: 10px;
}
.menuButtons button {
  cursor: pointer;
}

@media only screen and (min-width: 1300px) {
  .MenuRow {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 1300px) {
  .MenuRow {
    padding-left: 90px;
  }
}

@media only screen and (max-width: 997px) {
  .MenuRow {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 1400px) {
  .menuButtons {
    width: 90%;
  }
}
